vrrp_instance VI_1 {
    state {{ keepalived_role }}
    interface {{ nic_interface }}
    virtual_router_id 51
    priority {{ keepalived_priority }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
    unicast_src_ip {{ hostvars[inventory_hostname].ansible_host }}
    unicast_peer {
{% for host in groups['haproxy_vault'] %}
    {% if host != inventory_hostname %}
    {{- hostvars[host].ansible_host -}} {{ "\n" }}
    {% endif %}
{% endfor %}
    }
}